<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="main.css">
  <title>Condicionais</title>
</head>

<body class="active">
  <section class="modal">
    <h1>Trilhões de Planetas</h1>
    <p>O termo planeta é antigo, com ligações com a história, ciência, mitologia e religião. Os planetas eram vistos por muitas culturas antigas como divinos ou emissários de deuses.</p>
    <a href="#">Explore Mais</a>
  </section>

  <section class="modal">
    <h1>Galáxias Distantes</h1>
    <p>Além dos trilhões de planetas existentes, o universo abriga inúmeras galáxias, vastas coleções de estrelas, planetas, gás interestelar e matéria escura. Cada galáxia é única em sua estrutura e composição.</p>
    <a href="#">Saiba Mais</a>
  </section>

  <ul>
    <li>
      <a href="#">Teste 1</a>
    </li>
    <li>
      <a href="#">Teste 2</a>
    </li>
    <li>
      <a href="#">Teste 3</a>
    </li>
  </ul>
</body>

</html>