// Criado variáveis para as cores.
$light-beige: #edece4;
$medium-beige: #cbc6b9;
$dark-beige: #988c77;
$gray: #2a2426;
$green: #1ab912;

// Criado variáveis para as fontes.
$font-1: "PT Mono", monospace;
$font-2: "Aref Ruqaa", serif;

